@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.875rem;
    }
}
@media screen and (max-width: 767px) {
    .nav-menu:hover {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: 0.5s;
    }
}
/* Responsive  Style*/
    @media screen and (max-width: 320px) {
        .home {
        row-gap: 2rem;
        }
        .home-img {
        width: 200px;
        }
    }
    
    @media screen and (min-width: 576px) {
        .home {
        padding: 4rem 0 2rem;
        }
        .home-social {
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
        }
        .home-social-icon {
        margin-bottom: 0;
        margin-right: var(--mb-4);
        }
        .home-img {
        width: 300px;
        bottom: 25%;
        }
        .about-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
        }
        .skills-container {
        column-gap: 1rem;
        }
        .work-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        }
        .contact-form {
        width: 360px;
        padding-top: 2rem;
        }
        .contact-container {
        justify-items: center;
        }
    }
    
    @media screen and (min-width: 768px) {
        body {
        margin: 0;
        }
        .section {
        padding-top: 4rem;
        padding-bottom: 3rem;
        }
        .section-title {
        margin-bottom: var(--mb-6);
        }
        .section-title::after {
        width: 80px;
        top: 3rem;
        }
        .nav {
        height: calc(var(--header-height) + 1.5rem);
        }
        .nav-list {
        display: flex;
        padding-top: 0;
        }
        .nav-item {
        margin-left: var(--mb-6);
        margin-bottom: 0;
        }
        .nav-toggle {
        display: none;
        }
        .nav-link {
        color: var(--second-color);
        }
        .home {
        padding: 8rem 0 2rem;
        }
        .home-img {
        width: 400px;
        bottom: 10%;
        }
        .about-container {
        padding-top: 2rem;
        }
        .about-img img {
        width: 300px;
        }
    
        .work-container {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        }
    }
    
    @media screen and (min-width: 992px) {
        .bd-grid {
        margin-left: auto;
        margin-right: auto;
        }
        .home {
        padding: 10rem 0 2rem;
        }
        .home-img {
        width: 450px;
        }
    }
    